{% extends "main/base.html" %}
{% load static %}

{% block menu %}
<li class="nav-item">
  <a class="nav-link" href="/login"><h5>로그인</h5></a>
</li>

{% endblock %}
{% block body %}
<header class="masthead" style="background-image: url('{% static 'img/coffee.jpg' %}?var=1');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 style="color :rgb(0, 0, 0);">안녕하세요 newbieract입니다.<h3><h4 style="color :rgb(0, 0, 0);">간단하게 smart contract를 사용해 보세요.</h4><br/><br/><br/>

          <a class="btn btn-light btn-xl js-scroll-trigger" href="/get_info"
          id="start" style="background-color :rgb(199, 199, 199); color :rgb(77, 77, 77);">start</a>
        </div>
      </div>
    </div>
  </div>
</header>

    <!-- introduction
    <section class="bg-info" id="introduction"
    style="background-color : rgb(42, 57, 124);">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-8 mx-auto text-center">
                <hr class="intro-hr">
                  <h3></h3>
                <hr class="intro-hr">

            </div>
          </div>
        </div>
      </section>
-->
{% endblock %}
